.view {
    width: 250px;
    height: 320px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: pink;
    text-align: center;
}
.view .mask, .view .content {
    width: 250px;
    height: 320px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative;

}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: pink;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view-fourth img { 
	transition: all 0.4s ease-in-out 0.2s;
    opacity: 1;
}
.view-fourth .mask { 
	opacity: 0;
	transform: scale(0) rotate(-180deg);
	transition: all 0.4s ease-in;
    border-radius: 0px;
}
.view-fourth a.info { 
    opacity: 0;
	transition: all 0.5s ease-in-out;
} 
.view-fourth:hover .mask { 
	opacity: 1; 
	transform: scale(1) rotate(0deg);
	transition-delay: 0.2s;
}								  
.view-fourth:hover img 	  { 
	transform: scale(0); 
    opacity: 0;
	transition-delay: 0s;
}						
.view-fourth:hover h2,
.view-fourth:hover p,
.view-fourth:hover a.info{
    opacity: 1;
    transition-delay: 0.5s;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view-fourth img { 
	transition: all 0.4s ease-in-out 0.2s;
    opacity: 1;
}
.view-fourth .mask { 
	background-color:pink;
	opacity: 0;
	transform: scale(0) rotate(-180deg);
	transition: all 0.4s ease-in;
    border-radius: 0px;
    text-align: left;
    letter-spacing: 2px;
    line-height: 30px;
    border: 10px solid wheat;
}
.view-fourth a.info { 
    opacity: 0;
	transition: all 0.5s ease-in-out;
} 
.view-fourth:hover .mask { 
    opacity: 1; 
	transform: scale(1) rotate(0deg);
	transition-delay: 0.2s;
}	
.view-fourth:hover .mask h2 { 
    font-size:20px;
    color: #095a6e;
    padding: 20px;
    

}								  
.view-fourth:hover img 	  { 
	transform: scale(0); 
    opacity: 0;
	transition-delay: 0s;
}						
.view-fourth:hover h2,
.view-fourth:hover p,
.view-fourth:hover a.info{
    opacity: 1;
    transition-delay: 0.5s;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.container{
    text-align: center;
}
.container h1{
    color:rgb(247, 138, 156) ;
    font-size: 40px;
    font-weight: bolder;
}
.aboutus{
    padding: 20px;
    background-color:  azure;
    text-align: center;
}
.feedback{
    padding: 20px;
    margin-top: 40px;
    background-color: antiquewhite;

}
.web td{
   padding: 20px;
   
}