
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
.hot h2{
  font-size: 35px;
  text-align: center;
  color: rgb(236, 148, 195);
  letter-spacing: 5px;
  font-weight: bolder;
  padding: 20px;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  margin: 10px;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: rgb(255, 160, 226);
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: rgb(255, 160, 226);
  color: white;
  padding: 15px 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}
.btn1 {
  background-color: rgb(255, 160, 226);
  color: white;
  padding: 15px 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.8;
}
h2
{
  color: white;
  text-align: center;
  font-size: 25px;
}
.name
{
  font-size: 25px;
  text-align: center;
  letter-spacing: 3;
  line-height: 3;
  border: 10px solid pink ;
  border-style: dashed;
  color:rgb(255, 138, 216) ;
  font-weight: bolder;
}
.na
{
  border: 10px solid pink ;
  border-style: dashed; 
  padding: 20px;
  padding-bottom: 40px;
}
