.plus{
    padding: 50px;
    padding-top:100px;
    background-color:azure;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: rgba(54, 98, 179, 0.89);

}
table{
    margin-left: auto;
    margin-right: auto;
}
