.input-container {
    display: -ms-flexbox; /* IE10 */
    margin: 10px;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  .hot h2{
    font-size: 35px;
    text-align: center;
    color: rgb(236, 148, 195);
    letter-spacing: 5px;
    font-weight: bolder;
  }
  .icon {
    padding: 10px;
    background: rgb(255, 160, 226);
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: rgb(255, 160, 226);
    color: white;
    padding: 15px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  h2
  {
    color: white;
    text-align: center;
    font-size: 25px;
  }
  