
nav{
	position: fixed;
	top:0px;
	width: 100%;
	text-align: left;
	padding: 20px;
	background-color:rgb(255, 195, 225);
	font-size: 30px;
	z-index: 1;
}
.logo{
	position: fixed;
	top: 15px;
	right: 45%;
}
nav .a{
	position: fixed;
	top: 30px;
	right: 380px;
}
nav .b{
	position: fixed;
	top: 30px;
	right: 50px;
}
input[type="submit"]
{   padding:5px 15px; background:rgb(151, 205, 218); border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	color: rgb(53, 73, 73);
}
		
	nav	input[type="text"]{padding:5px 15px; 
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; }
		
	.demo{
		text-align:right;
		position: fixed;
		top: 25px;
		right: 100px;
	}
body
{	
	font-family:Microsoft JhengHei;
	color:black;
}
.container{
	background-image: url('../img/background.jpg');

	padding: 20px;
	padding-top:80px ;
}
.light{
    background-color: darkseagreen;
    padding: 20px;
}

.slogan{
    background-color: rgba(99, 149, 250, 0.699);
	padding: 40px;
	text-align: center;
}
.slogan h1{
	font-size: 24;
	font-weight: bolder;
}
.hot{
	background-color:azure;;
	padding: 40px;
	padding-bottom: 50px;

}
footer{
    background-color: rgb(255, 195, 225);
	padding: 20px;
	text-align: center;
	padding: 40px;
}
.header,
.content,
.footer
{
	text-align: center;
}
ul { /* 取消ul預設的內縮及樣式 */
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.drop-down-menu {
	display: inline-block;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 13px;
	
}

ul.drop-down-menu li {
	position: relative;
	white-space: nowrap;
	
}

ul.drop-down-menu > li:last-child {
	border-right: none;
}

ul.drop-down-menu > li {
	float: left; /* 只有第一層是靠左對齊*/
}

 ul.drop-down-menu a {
	color: rgb(53, 73, 73);
	display: block;
	padding: 0 30px;
	text-decoration: none;
	line-height: 40px;
	background-color: rgb(151, 205, 218);
    border-radius: 10px;
}
ul.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色*/
	background-color:rgb(240, 208, 235) ;
	color: #fff;
}
ul.drop-down-menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
	background-color: rgb(240, 208, 235);
	color: #fff;
}
ul.drop-down-menu ul {

	position: absolute;
	z-index: 99;
	left: -1px;
	top: 100%;
   min-width: 180px;
}

ul.drop-down-menu ul li {
	border-bottom: #ccc 1px solid;
}

ul.drop-down-menu ul li:last-child {
	border-bottom: none;
}

ul.drop-down-menu ul ul { /*第三層以後的選單出現位置與第二層不同*/
	z-index: 999;
	top: 10px;
	left: 90%;
}
ul.drop-down-menu ul { /*隱藏次選單*/
	display: none;
}

ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單*/
	display: block;
}
.b input[type=text], .b input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
	margin: -10px;
	padding: 10px 10px 10px 10px;
	border: none;
	background-color:rgb(255, 195, 225);
	width: 100%;
  
  }
  
  button:hover {
	opacity: 0.5;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
	width: auto;
	padding: 10px 18px;
  }
  
  
  /* Center the image and position the close button */
  .imgcontainer {
	text-align: center;
	position: relative;
	background-color: rgb(255, 255, 255) ;
  }
  
  img.avatar {
	width: 100px;
	padding: 15px;
  }
  
   nav .container {
	
   padding: 15px ;
	background-color: rgb(250, 209, 225);
  }
  nav .container b {
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
  
  }
  nav .container button  {
	background-color: #ffddeb;
	padding: 12px 20px;
	margin: 8px 0;
  
  }
  nav .container label
  {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  
  span.psw {
	float: right;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 250; /* Full width */
	height: 450; /* Full height */
	padding-top: 0px;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
	position: absolute;
	right: 25px;
	color: #000;
	font-size: 35px;
	font-weight: bold;
	
  }
  
  .close:hover,
  .close:focus {
	
	color: red;
	cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
  }
	
  @keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	   display: block;
	   float: none;
  
	}
	.cancelbtn {
	 
	   width: 100%;
	}
  }
