/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.outside_area{
    width: 70%;
    margin: 0 15%;
}
.top_area{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;    
}
.top_area img{
    width: 40%;
    height: 40%;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_name{
    color: black;
    font-size: 30px;
    font-family: "微軟正黑體";
    width: 100%;
    color: white;
    padding: 0 20px;
}
.price{
    color: red;
    font-size: 40px;
    font-family: "微軟正黑體";
    width: 100%;
    text-align: right;
}
.bottom_area{
    text-align: right;
    margin-bottom: 20px;
}
.comment{
    width: 100%;
    height: 300px;
    border: 2px solid black;
    margin: 10px 0;
    resize: none;
}
.btn{    
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;    
    margin: 10px 0;
}

body{
    background-color: black;    
}