.solid_header{
display: flex;
justify-content: space-between;
background-color: #000;
height: 150px;
width: 100%;
}
.logo{
margin: 5px 0px 5px 20px;
width: 145px;
height: 145px;
}
.memberpic{
width: 90px;
height: 90px;
margin-right: 10px;

}
.sloganpic{
margin-left: 10px;

}
.carpic{
width: 90px;
height: 90px;
}
.member{
padding-top: 30px;
padding-right: 20px;
}
.header{
display: flex;
background-color: #ADADAD;
height: 70px;
width: 100%;
font-family:"微軟正黑體";
}
.right{
width: 100%;
display: flex;
justify-content: flex-end;
}
.header img{
width: 70px;
height: 70px;
}
.header a{
text-decoration:none;
color: white;
}
.header a:visited
{
color: white;
}
.header  a:hover
{
color: 	#FF0000;
}
nav{						/*如果要動header大小 要調整padding*/
padding: 19px 20px 19px 0px;
font-size: 25px;
font-weight: bold;
color: white;

}
nav ul{
list-style: none;
margin: 0;
}
nav li{						/*如果要動header大小 要調整padding*/
float: left;
padding: 0px 20px;
}
html, body{
margin: 0;
height: 100%;
}
.main-content{
min-height: 100%;
padding-top:0px;
padding-bottom: 300px;
}
footer{
position: relative;
top: -300px;
height: 350px;
width: 100%;
background-color: #ADADAD;
}
footer ul{
list-style: none;
margin-top: 0px;
}
.footer_top{
display: flex;
flex-wrap: nowrap;
width: 100%;
height: 90%;
justify-content: space-between;
margin: 0px;
font-family: "tpe";
}
.footer_top img{
left: 0;
height: 300px;
width: 300px;
margin-right: 30px;
}
.footer_top ul{
margin: 40px 0;
padding: 0;
}
.footer_top>ul>li{
float: left;
padding: 20px 80px;
}
.footer_list{
display: flex;
align-items: center;
flex-direction: column;
align-items: flex-start;

}
.footer_list>li{
text-align: left;
}
.footer_list>li>a{
	color: #333333;
text-decoration: none;
}
.footer_list>li>a:hover{
	color: red;
}
.bigt{
font-size: 20px;
font-weight: bold;
color: black;
font-family: "微軟正黑體";
}
.bigt:hover{
	color:red;
}
.hr{

border:none;
margin-bottom:  -20px;
background-color:#D0D0D0;
width: 120px;
height:3px;
}
.hr2{
border:none;
background-color:#D0D0D0;
height:3px;
margin:0px;
}
.copyright{
text-align: center;
height: 50PX;
background-color: #ADADAD;
line-height: 50px;
font-family: "tpe";
}
.sticky {
position: fixed;
top: 0;
width: 100%;
z-index: 100;
}
.sidenav {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place*/
z-index: 1; /*Stay on top*/
top: 0; /*Stay at the top */
left: 0;
background-color: #111; /*Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a.list1{
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color:#8E8E8E;
display: block;
transition: 0.3s;
}
.sidenav a.list2{
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color:#8E8E8E;
display: block;
transition: 0.3s;
}
.sidenav a.list3{
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color:#8E8E8E;
display: block;
transition: 0.3s;
}
.sidenav a.list1:hover {
color: #ff0000 ;
}
.sidenav a.list2:hover {
color: #00fff0 ;
}
.sidenav a.list3:hover {
color: #b0ff00 ;
}
.sidenav img{
	width: 170px;
	height: 170px;

}
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
@font-face {
font-family: 'mushin';
src: url('mushin.otf') ;
}
@font-face {
font-family: 'tpe';
src: url('tpe.ttf') ;
}
@font-face{
	font-family: 'setofont';
	src: url(setofont.ttf);
	
}