.table
{   
	
	width: 431px;
    padding-top: 30px;
	margin-left: 740px;
	font-family: "tpe";
	font-size: 30px;
	color: #CE0000;
}
.table2{
	font-family: "微軟正黑體";
	font-weight: bold;
	color: black;
	width: 431px;
    margin-top: 20px;
    font-size: 25px;

}
.enter{
	display: flex;
	align-items: flex-start;
}
.join{
	font-size: 25px;
	margin-left: 232px;
	margin-right: 20px;
	margin-top: 47px;
	font-family: "微軟正黑體";
	font-weight: bold;
	text-decoration: none;
}
.join:hover{
	text-decoration: none;
}
.table input{
	background-color:#D0D0D0;
	border: 3px solid black; 
	padding: 5px;
}
.table input:focus{
	border: 3px solid #CE0000; 
	box-shadow: 5px 3px 5px #888888;
}
.bt
{ 
margin-top:40px;
margin-left: 0px;

background-color:#CE0000;
border: 3px white #CE0000; /* 去掉邊框 */
color: white; 
font-weight: bold;
font-family: 'tpe';/* 字改成白色 */
font-size: 25px; /* 改字體大小 */
padding: 5px 10px; /* 按鈕內邊距離 */

 /* 按鈕寬度 */

border-radius: 6px; /* 圓角5px */ 
}
.bt span
{
transition: 0.5s; /* 過渡0.5秒 */
text-shadow: 0 1px 1px rgba(0,0,0,.4),0 1px 2px rgba(0,0,0,.2);

}
