
nav{
	position: fixed;
	top:0px;
	width: 100%;
	text-align: left;
	padding: 20px;
	background-color:rgb(240, 191, 227);
	font-size: 30px;
	z-index: 1;
}
.logo{
	position: fixed;
	top: 15px;
	right: 45%;
}
nav .a{
	position: fixed;
	top: 30px;
	right: 380px;
}
nav .b{
	position: fixed;
	top: 30px;
	right: 50px;
}
input[type="submit"]
{   padding:5px 15px; background:rgb(151, 205, 218); border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	color: rgb(53, 73, 73);
}
		
		input[type="text"]{padding:5px 15px; border:2px black solid;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; }
		
	.demo{
		text-align:right;
		position: fixed;
		top: 25px;
		right: 100px;
	}
body
{
	background-color: #fff;
	font-family:Microsoft JhengHei;
	color:black;
}
.container{
    background-color: darkgrey;
	padding: 20px;
	padding-top:80px ;
}
.light{
    background-color: darkseagreen;
    padding: 20px;
}

.slogan{
    background-color: deepskyblue;
	padding: 40px;
	text-align: center;
}
.slogan h1{
	font-size: 24;
}
.hot{
	background-color:azure;;
	padding: 40px;
	padding-bottom: 50px;

}
footer{
    background-color: hotpink;
	padding: 20px;
	text-align: center;
	padding: 40px;
}
.header,
.content,
.footer
{
	text-align: center;
}
ul { /* 取消ul預設的內縮及樣式 */
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.drop-down-menu {
	display: inline-block;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 13px;
	
}

ul.drop-down-menu li {
	position: relative;
	white-space: nowrap;
	
}

ul.drop-down-menu > li:last-child {
	border-right: none;
}

ul.drop-down-menu > li {
	float: left; /* 只有第一層是靠左對齊*/
}

 ul.drop-down-menu a {
	color: rgb(53, 73, 73);
	display: block;
	padding: 0 30px;
	text-decoration: none;
	line-height: 40px;
	background-color: rgb(151, 205, 218);
    border-radius: 10px;
}
ul.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色*/
	background-color:rgb(240, 208, 235) ;
	color: #fff;
}
ul.drop-down-menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
	background-color: rgb(240, 208, 235);
	color: #fff;
}
ul.drop-down-menu ul {

	position: absolute;
	z-index: 99;
	left: -1px;
	top: 100%;
   min-width: 180px;
}

ul.drop-down-menu ul li {
	border-bottom: #ccc 1px solid;
}

ul.drop-down-menu ul li:last-child {
	border-bottom: none;
}

ul.drop-down-menu ul ul { /*第三層以後的選單出現位置與第二層不同*/
	z-index: 999;
	top: 10px;
	left: 90%;
}
ul.drop-down-menu ul { /*隱藏次選單*/
	display: none;
}

ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單*/
	display: block;
}

